<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvyingbin.fastencryption" >

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.FastEncryption"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.ScreenOnReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.LockScreenActivity"
            android:label="@string/title_activity_lock_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AppSetActivity"
            android:label="@string/title_activity_app_set"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <service
            android:name=".service.MonitorService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".activity.ImgSetActivity"
            android:label="@string/title_activity_img_set"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lvyingbin.fastencryption.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ImgFolderActivity"
            android:label="@string/title_activity_img_floder"
            android:parentActivityName=".activity.ImgSetActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lvyingbin.fastencryption.activity.ImgSetActivity" />
        </activity>
        <activity
            android:name=".activity.ImgSelectActivity"
            android:label="@string/title_activity_img_select"
            android:parentActivityName=".activity.ImgFolderActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lvyingbin.fastencryption.activity.ImgFolderActivity" />
        </activity>
    </application>

</manifest>
